.Report-card {
  max-width: 600px;
  height: 110px;
  margin: auto;
  border-radius: 3px;
  box-shadow: 0 0 1px black;
  margin-top: 10px;
  position: relative;
}

.Report-data {
  display: grid;
  /* border: 1px solid black; */
  grid-template-columns: auto auto;
  text-align: left;
  max-width: 400px;
  padding-top: 10px;
  margin-left: 10px;
}

.Report-data div {
  padding: 3px;
}

.Report-details-link-container {
  /* border: 1px solid black; */
  text-align: left;
  display: inline-block;
  position: absolute;
  left: 10px;
  bottom: 10px;
  padding-left: 3px;
}

.Report-details-link-container a {
  color: #717171;
  font-size: small;
  font-weight: bold;
}

.Report-actions-container {
  /* border: 1px solid red; */
  /* width: 100px; */
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  position: absolute;
  right: 10px;
  top: 0;
  height: 100%; 
}

.Report-actions-button {
  margin: 3px;
  margin-top: 5px;
  margin-bottom: 5px;
  width: 100%;
}

.Report-actions-button:hover {
  box-shadow: 0 0px 3px gray;
}

.Report-actions-button:active {
  box-shadow: 0 0px 10px gray;
}

.Report-actions-button i {
  font-size: 1.1rem;
  padding-left: 5px;
}

.Report-actions-button.resolve-button {
  border: 1px solid #7cbb00;
  color: #7cbb00;
}

.Report-actions-button.block-button {
  border: 1px solid #f65314;
  color: #f65314;
}

.Report-details-link {
  transition: color 0.2s ease;
}

.Report-CircleLoaderImg {
  width: 22px;
}

.Report-details-link:hover {
  color: black;
}

.bold {
  font-weight: bold;
  color: #333;
}
